DATABASE_URL=''

NEXTAUTH_SECRET=''

GOOGLE_CLIENT_SECRET=''
GOOGLE_CLIENT_ID=''
MAIL_SERVICE=''
MAIL_ID=''
MAIL_SECRET=''

RATELIMIT_TOKENS=''
RATELIMIT_WINDOW=''
UPSTASH_REDIS_REST_TOKEN=''
UPSTASH_REDIS_REST_URL=''

DEVMAILER_API_KEY=''
NEXT_PUBLIC_EMAIL=''
