# Dev branch
DATABASE_URL=""

JWT_SECRET_KEY=""
TOKEN_NAME=""

REDIS_CLIENT_USERNAME=""
REDIS_CLIENT_PASSWORD=""
REDIS_CLIENT_PORT=""
REDIS_CLIENT_HOST=""

ALLOWEDHITS=""
EXPIRESIN=""

MAIL_SERVICE=""
MAIL_ID=""
MAIL_SECRET=""

NEXTAUTH_URL=""
NEXTAUTH_SECRET=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

EMAIL_FROM=""
